<div class="container">
    <div>
        <h2>Get in touch</h2>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contribuiting to your projects with my work.</p>
    </div>


    <form (submit)="sendMail()" #myForm>

        <div class="details">
        <mat-form-field appearance="outline">
            <mat-label>Enter your name</mat-label>
            <input matInput [formControl]="name" type="text" placeholder="Your name" name="name" #nameField>
            <mat-icon matSuffix></mat-icon>
            <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput type="email" placeholder="Your email" #emailField [formControl]="email" required>
            <mat-icon matSuffix></mat-icon>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Enter your message</mat-label>
            <textarea matInput="message" placeholder="Your message" id="" cols="30" rows="10" #messageField
                [formControl]="message"></textarea>
            <mat-icon matSuffix></mat-icon>
            <mat-error *ngIf="message.invalid">{{getErrorMessageMessage()}}</mat-error>
        </mat-form-field>
        <button #sendButton>Send</button>
    </form>
</div>