nav{
  display: flex;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: space-between;
  height: 10%;

   span{
      color: white;
      font-size: 1.5rem;
      margin-left: 10%;
    }
  
  ul{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    width: 40%;

    li{
      list-style: none;
      
      a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;

        
        }
      }
    }
  }

  












// Thanks to Abdullah Al Amin
// Find him on codepen under billionbd
.effect a::before,
.effect a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.effect a::before {
  margin-right: 10px;
  content: '|';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.effect a::after {
  margin-left: 10px;
  content: '|';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.effect a:hover::before,
.effect a:hover::after,
.effect a:focus::before,
.effect a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
