@keyframes speak {
    0% { background-image: url('img/1.png'); }
    33% { background-image: url('img/2.png'); }
    66% { background-image: url('img/3.png'); }
    100% { background-image: url('img/4.png'); }
  }

  #character {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px; 
    height: 200px; 
    background: center rgba(0, 128, 0, 0) no-repeat;
    background-image: url('img/1.png');
    background-size: 80%;
  
  }

  .animate{
     
    animation: speak 0.4s infinite; /* Start the animation */
  }






  #speakBubble {
    position: absolute;
    bottom: 230px;
    right: 100px;
		max-width: 550px;
		margin: 0 auto;
		.bubble {
			background-color: #e0e5ec;
			color: black;
      font-weight: bold;
      box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
    8px 8px 20px 0px #0001, 5px 5px 6px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
			font-size: 1.2em;
			line-height: 2;
      border-radius: 10px;
			padding: 10px 20px;
      margin-top: 60px;

			&:nth-child(1):after {
				content: '';
        display: block;
        position: relative;
				margin-top: -40px;
				padding-top: 0px;
				bottom: -30px;
				left: 50px;
				border-width: 30px 0 0 30px;
				border-style: solid;
				border-color: #e0e5ec transparent;	
				width: 2px;
        border-radius: 0 0 40px 0;
			}
		}
	}

