@keyframes speak {
    0% { background-image: url('img/1.png'); }
    33% { background-image: url('img/2.png'); }
    66% { background-image: url('img/3.png'); }
    100% { background-image: url('img/4.png'); }
  }

  #character {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px; 
    height: 200px; 
    background: center green no-repeat;
    background-image: url('img/1.png');
    background-size: 80%;
  
  }

  .animate{
     
    animation: speak 0.4s infinite; /* Start the animation */
  }